@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

@import "./utils/variables";
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Roboto";
}
li {
  list-style: none;
}
h1 {
  margin-bottom: 10px;
}
h2 {
  font-weight: bold;
  font-family: "roboto:wgt@700";
}
h3 {
  text-transform: uppercase;
}

.header-first {
  display: flex;
  justify-content: center;
  font-family: "Shrikhand";
  padding-bottom: 0;
}

.reservation {
  text-align: center;
  background: #f2f2f2;
  padding-bottom: 40px;

  &__search {
    width: 100%;
    background-color: rgb(230, 230, 230);
    padding: 20px 0;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.089);
    border: transparent;
    &--text {
      border: 0px;
      background-color: transparent;
    }
  }
}

.reservation {
  &__heading {
    font-weight: 700;
    font-family: "roboto";
  }
  &__button {
    background: rgb(147, 86, 220);
    background: linear-gradient(
      17deg,
      rgba(147, 86, 220, 1) 12%,
      rgba(255, 121, 218, 1) 81%
    );
    color: #fff;
    border-radius: 25px 25px;
    padding: 20px 20px;
    border: 0px;
    &:hover {
      opacity: 0.7;
    }

    &--other {
      color: #fff;
      text-align: center;
      display: flex;
      justify-content: center;
      margin: auto;
    }
  }
}
/*FONCTIONNEMENT*/
.fonctionning {
  display: flex;
  flex-direction: column;
  margin-bottom: 66px;
  &__title {
    padding-left: 30px;
    padding-top: 55px;
  }
}
.choice {
  display: flex;
  flex-direction: column;
  width: auto;
  justify-content: space-evenly;
  padding: 0 0px;
  gap: 10px;
}
.list {
  background-color: #f2f2f2;
  padding: 15px 70px 15px 70px;
  border-radius: 25px 25px;
  position: relative;
  box-shadow: 5px 3px 5px rgb(209, 209, 209);
  margin: 10px 20px;

  &__number {
    background: $primary;
    color: #fff;
    position: absolute;
    border-radius: 25px 25px;
    margin-left: -78px;
    padding: 5px 10px;
    top: 10px;
  }
}

.list i {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.choice :hover {
  background: #ddc9f7;
}

/*a:hover {
  background: black;
}*/

/*RESTAURANT*/

.restaurants {
  background: #f2f2f2;
  padding: 20px 20px;
  &__cards {
    text-decoration: none;
    position: relative;
  }
}

.bloc-cards {
  height: 250px;
  flex: 2;
  margin-bottom: 50px;
  border: 0px solid transparent;
  border-radius: 10px;
  position: relative;
  background-color: #fff;
  line-height: 5px;

  &__title {
    text-decoration: none;
    color: black;
    padding-top: 5px;
    padding-left: 13px;
  }
  &__place {
    text-decoration: none;
    color: black;
    padding-left: 13px;
    padding-bottom: 15px;
  }
}
figure {
  margin: 0;
  padding: 0;
  height: 170px;
}
figure img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0px 0px;
}
.new {
  position: absolute;
  z-index: 10;
  background: $tertiary;
  padding: 10px 10px 10px 10px;
  border: 0px solid transparent;
  border-radius: 3px;
  color: rgba(0, 128, 0, 0.63);
  font-weight: 900;
  top: 10px;
  right: 20px;
}
.heart {
  position: absolute;
  background: #fff;
  color: black;
  font-size: 32px;
  display: flex;
  bottom: 30px;
  right: 15px;
  justify-content: center;
  border: none;
  position: absolute;
}

/*FOOTER*/
footer {
  background: rgba(0, 0, 0, 0.781);
  color: #fff;
  height: 195px;
}
.footer__title {
  display: flex;
  justify-content: start;

  padding: 20px 0 0px 10px;
  font-family: "Shrikhand";
}
.footer__list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 10px 10px;
  line-height: 1.7;
  margin: 0;
}
li > a {
  color: #fff;
  text-decoration: none;
}

/**************OTHER.HTML***********/
main {
  margin: 0;
  padding: 0;
}
.header-other {
  font-family: "Shrikhand";
  padding-bottom: 0;
  flex-direction: row;
  align-items: center;
  position: relative;
  width: 100%;
  text-align: center;
}
.fa-arrow-left {
  position: absolute;
  left: 5px;
  top: 15px;
}
/*resto-img/other page*/
.resto-all__img {
  height: 350px;
  width: 100vw;
  max-width: 1440px;
  object-fit: cover;

  /*position: relative;*/
}
/*resto-menu*/
.resto-menu {
  background: #f2f2f2;
  padding: 0 20px 30px 20px;

  &__title {
    margin: 0 0 0 0;
    font-size: 32px;
    font-family: "Shrikhand";
    display: flex;
    justify-content: space-around;
    max-width: 1440px;
    /*margin-top: -40px;*/

    /*position: absolute;*/
  }
  &__icon {
    border: none;
    font-size: 32px;
    font-weight: lighter;
  }
  &__subtitle {
    border-bottom: 2px solid $tertiary;
    width: 30px;
    padding-bottom: 10px;
  }
  &__cards {
    background: #fff;
    margin-bottom: 20px;
    padding: 0 15px;
    line-height: 0.8;
    border-radius: 15px;
  }
  &__dish {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    &--price {
      font-weight: bold;
    }
  }
}

.h3 {
  border-bottom: #99e2d0;
}

/*MEDIA@*/
@media all and (min-width: 768px) {
  body {
    max-width: 1440px;
    margin: auto;
  }
  .reservation {
    background: #f2f2f2;
  }
  .choice {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .thecards {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  /*RESTAURANTS*/
  .thecards {
    display: grid;
    grid-template-columns: repeat(2, 47%);
    grid-template-rows: repeat(2, 50%);
    column-gap: 30px;
    row-gap: 30px;
    flex-wrap: wrap;
    height: max-content;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .threesection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  /*BOUTON*/
  .heart {
    bottom: 90px;
    right: 15px;
  }
  /*FOOTER*/
  footer {
    width: 100%;
    background: rgba(0, 0, 0, 0.781);
    color: #fff;
    height: 195px;
  }
  .footer__title {
    display: flex;
    justify-content: center;

    padding-top: 29px;
    padding-bottom: 30px;
    font-family: "Shrikhand";
  }
  .footer__list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
} ;
