@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Roboto";
}
li {
  list-style: none;
}
.header-first {
  display: flex;
  justify-content: center;
  font-family: "Shrikhand";
}

.reservation {
  text-align: center;
  background: #f2f2f2;

  &__search {
    width: 100%;
    background-color: #975252;
    padding: 20px 0;

    border: transparent;
  }
}
.reservation__search--text {
  border: transparent transparent transparent transparent;
}
.reservation {
  &__heading {
    font-weight: 700;
    font-family: "roboto";
  }
  &__button {
    background: rgb(147, 86, 220);
    background: linear-gradient(
      17deg,
      rgba(147, 86, 220, 1) 12%,
      rgba(255, 121, 218, 1) 81%
    );
    color: #fff;
    border-radius: 25px 25px;
    padding: 0 20px;
  }
}
/*FONCTIONNEMENT*/
.fonctionning {
  display: flex;
  flex-direction: column;
  margin-bottom: 66px;
  &__title {
    font-weight: 600;
  }
}
.choice {
  display: flex;
  flex-direction: column;
  width: auto;
  justify-content: space-evenly;
  padding: 0 40px;
  gap: 20px;
}
.list {
  background-color: #f2f2f2;
  padding: 37px 70px 28px 70px;
  border-radius: 25px 25px;
  position: relative;
  &__number {
    background: $primary;
    color: #fff;
    position: absolute;
    border-radius: 25px 25px;
    margin-left: -78px;
    padding: 5px 10px;
  }
}
/*span > i {
  padding-left: 20px;
}*/

/*RESTAURANT*/

.restaurants {
  background: #f2f2f2;
  padding: 20px 40px;
}
.bloc-cards {
  height: 250px;
  flex: 2;
  margin-bottom: 25px;
  border: 3px solid red;
  border-radius: 10px;
  position: relative;
  background-color: #fff;
  line-height: 5px;

  &__title {
    text-decoration: none;
    color: black;
    padding-top: 15px;
    padding-left: 13px;
  }
  &__place {
    color: black;
    padding-left: 13px;
    padding-bottom: 15px;
  }
}
figure {
  margin: 0;
  padding: 0;
  height: 170px;
}
figure img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0px 0px;
}
.new {
  position: absolute;
  z-index: 10;
  background: $tertiary;
  padding: 10px 10px 10px 10px;
  border: 0px solid transparent;
  border-radius: 3px;

  color: green;
  font-weight: 900;
}
.heart {
  position: absolute;
  background: #fff;
  color: black;
  font-size: 32px;
  display: flex;
  bottom: 15px;
  right: 15px;
  justify-content: center;
}
/*FOOTER*/
footer {
  width: 100%;
  background: rgba(0, 0, 0, 0.781);
  color: #fff;
  height: 195px;
}
.footer__title {
  display: flex;
  justify-content: start;
  width: 100%;

  padding: 20px 0 0px 10px;
  font-family: "Shrikhand";
}
.footer__list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 10px 10px;
  line-height: 1.7;
  margin: 0;
}
@media all and (min-width: 768px) {
  .reservation {
    background: #f2f2f2;
  }
  .choice {
    display: flex;
    flex-direction: column;
  }
  .thecards {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  /*RESTAURANTS*/
  .thecards {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    gap: 10px;
    flex-wrap: wrap;

    flex-direction: row;
    justify-content: space-evenly;
  }
  /*FOOTER*/
  footer {
    width: 100%;
    background: rgba(0, 0, 0, 0.781);
    color: #fff;
    height: 195px;
  }
  .footer__title {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 29px;
    padding-bottom: 30px;
    font-family: "Shrikhand";
  }
  .footer__list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
} ;
