/**************OTHER.HTML***********/
main {
  margin: 0;
  padding: 0;
}
.header-other {
  font-family: "Shrikhand";
  padding-bottom: 0;
  flex-direction: row;
  align-items: center;
  position: relative;
  width: 100%;
  text-align: center;
}
.fa-arrow-left {
  position: absolute;
  left: 5px;
  top: 15px;
}
/*resto-img/other page*/
.resto-all__img {
  height: 350px;
  width: 100vw;
  max-width: 1440px;
  object-fit: cover;
  z-index: 1;

  /*position: relative;*/
}
/*resto-menu*/
.resto-menu {
  background: $background-grey;
  padding: 10px 20px 30px 20px;
  margin-top: -50px;
  z-index: 2;
  position: relative;
  border-radius: 50px 50px 0 0;

  &__title {
    margin: 0 0 0 0;
    font-size: 32px;
    font-family: "Shrikhand";
    display: flex;
    justify-content: space-around;
    max-width: 1440px;
    /*margin-top: -40px;*/

    /*position: absolute;*/
  }
  &__icon {
    border: none;
    font-size: 32px;
    font-weight: lighter;
  }
  &__subtitle {
    border-bottom: 2px solid $tertiary;
    width: 30px;
    padding-bottom: 10px;
  }
  &__cards {
    background: #fff;
    margin-bottom: 20px;
    padding: 0 0 0 15px;
    line-height: 0.8;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 3px 6px 2px #d5d5d5;
    cursor: pointer;
    overflow: hidden;
    /*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$se charge un par un********************************************/
    animation: pazzapa 400ms ease-in-out both;
    &:nth-child(1) {
      animation-delay: 0.2s;
    }
    &:nth-child(2) {
      animation-delay: 0.6s;
      opacity: 0.8;
    }
    &:nth-child(3) {
      opacity: 0.8;
      animation-delay: 0.8s;
    }
    &:nth-child(4) {
      opacity: 1;
      animation-delay: 1s;
    }
  }
  @keyframes pazzapa {
    0% {
      opacity: 0;
      transform: translateY(100%) scale(1);
    }
    50% {
      opacity: 0.5;
      transform: translateY(0) scale(1.05);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  &__dish {
    display: flex;

    align-items: center;
    justify-content: space-between;
    &--price {
      font-weight: bold;
    }
  }
}

.checkbox {
  background: $tertiary;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  border-radius: 0 15px 15px 0;
  align-content: center;
  position: relative;
  padding: 33px 20px 30px 20px;
  /*transition: all 500ms ease-in-out;*/
  /*transform: translateX(53px) scaleX(0);*/
  /*transform-origin: right;*/
  /*&:hover {
    transform: scaleX(1);
    opacity: 1;
    transform-origin: right;
    width: 60px;
  }*/
}

.h3 {
  border-bottom: #99e2d0;
}
