@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Roboto";
}

li {
  list-style: none;
}

h1 {
  margin-bottom: 10px;
}

h2 {
  font-weight: bold;
  font-family: "roboto:wgt@700";
}

/*******************loader chargement*******************/
.loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  font-family: "Shrikhand";
  animation: disseapear forwards;
  animation-delay: 3s;
}

.lettre {
  color: #484848;
  font-size: 40px;
  margin-bottom: 150px;
  animation: flash 2s linear infinite;
  transform: rotate(2deg);
}

@keyframes disseapear {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translate(-9999px);
  }
}
@keyframes flash {
  0% {
    color: #ff79d0;
    text-shadow: 0 0 7px #9356dc;
  }
  90% {
    color: #9356dc;
    text-shadow: none;
  }
  100% {
    color: #99e2d0;
    text-shadow: 0 0 7px #9356dc;
  }
}
.lettre:nth-child(1) {
  animation-delay: 0.1s;
}

.lettre:nth-child(2) {
  animation-delay: 0.2s;
  opacity: 0.8;
}

.lettre:nth-child(3) {
  opacity: 0.8;
  animation-delay: 0.3s;
}

.lettre:nth-child(4) {
  animation-delay: 0.4s;
  opacity: 0.7;
}

.lettre:nth-child(5) {
  animation-delay: 0.5s;
  opacity: 0.7;
}

.lettre:nth-child(6) {
  animation-delay: 0.6s;
  opacity: 0.7;
}

.lettre:nth-child(7) {
  animation-delay: 0.7s;
  opacity: 0.7;
}

.lettre:nth-child(8) {
  animation-delay: 0.8s;
  opacity: 0.8;
}

.lettre:nth-child(9) {
  animation-delay: 0.9s;
  opacity: 0.8;
}

.lettre:nth-child(10) {
  animation-delay: 1s;
  opacity: 1;
}

.reservation__heading {
  font-weight: 700;
  font-family: "roboto";
}
.reservation__button {
  background: #9356dc;
  background: linear-gradient(17deg, #9356dc 12%, #ff79da 81%);
  color: #fff;
  border-radius: 25px 25px;
  padding: 20px 20px;
  border: 0px;
  transform: scale(1);
  transition: transform 400ms;
  box-shadow: 0 2px 6px 4px #d5d5d5;
}
.reservation__button:hover {
  transform: scale(1.15);
  opacity: 0.7;
  box-shadow: 0 2px 6px 4px #b3b1b1;
}
.reservation__button--other {
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: auto;
}

/*FOOTER*/
footer {
  background: rgba(0, 0, 0, 0.781);
  color: #fff;
  height: 195px;
}

.footer__title {
  display: flex;
  justify-content: start;
  padding: 20px 0 0px 10px;
  font-family: "Shrikhand";
}

.footer__list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 10px 10px;
  line-height: 1.7;
  margin: 0;
  cursor: pointer;
}

li {
  display: flex;
  flex-direction: column;
}

li > a {
  color: #fff;
  text-decoration: none;
}

/**************OTHER.HTML***********/
main {
  margin: 0;
  padding: 0;
}

.header-other {
  font-family: "Shrikhand";
  padding-bottom: 0;
  flex-direction: row;
  align-items: center;
  position: relative;
  width: 100%;
  text-align: center;
}

.fa-arrow-left {
  position: absolute;
  left: 10px;
  top: 15px;
  color: #000;
}

/*resto-img/other page*/
.resto-all__img {
  height: 350px;
  width: 100vw;
  max-width: 1440px;
  object-fit: cover;
  z-index: 1;
  /*position: relative;*/
}

/*resto-menu*/
.resto-menu {
  background: #f2f2f2;
  padding: 10px 20px 30px 20px;
  margin-top: -50px;
  z-index: 2;
  position: relative;
  border-radius: 50px 50px 0 0;
}
.resto-menu__title {
  margin: 0 0 0 0;
  font-size: 32px;
  font-family: "Shrikhand";
  display: flex;
  justify-content: space-around;
  max-width: 1440px;
  /*margin-top: -40px;*/
  /*position: absolute;*/
}
.resto-menu__icon {
  border: none;
  font-size: 32px;
  font-weight: lighter;
}
.resto-menu__subtitle {
  border-bottom: 2px solid #99e2d0;
  width: 30px;
  padding-bottom: 10px;
}
.resto-menu__cards {
  background: #fff;
  margin-bottom: 20px;
  padding: 0 0 0 15px;
  line-height: 0.8;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 3px 6px 2px #d5d5d5;
  cursor: pointer;
  overflow: hidden;
  /*..................hover/checkbox..........*/
  /*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$se charge un par un********************************************/
  animation: pazzapa 400ms ease-in-out both;
}
.resto-menu__cards:hover > .price-checkbox {
  transform: scaleX(1);
  opacity: 1;
  width: 30%;
}
.resto-menu__cards:hover > .price-checkbox i {
  transform: rotate(-1turn);
}
.resto-menu__cards:nth-child(1) {
  animation-delay: 0.2s;
}
.resto-menu__cards:nth-child(2) {
  animation-delay: 0.6s;
  opacity: 0.8;
}
.resto-menu__cards:nth-child(3) {
  opacity: 0.8;
  animation-delay: 0.8s;
}
.resto-menu__cards:nth-child(4) {
  opacity: 1;
  animation-delay: 1s;
}
@keyframes pazzapa {
  0% {
    opacity: 0;
    transform: translateY(100%) scale(1);
  }
  50% {
    opacity: 0.5;
    transform: translateY(0) scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.resto-menu__dish {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.resto-menu__dish--price {
  font-weight: bold;
  padding-right: 15px;
  padding-bottom: 10px;
}
.resto-menu .checkbox {
  background: #99e2d0;
  color: #fff;
  display: flex;
  justify-content: space-around;
  border-radius: 0 15px 15px 0;
  width: 65px;
  padding: 35px 15px 33px 15px;
  /*position: relative;*/
}
.resto-menu .price-checkbox {
  position: relative;
  display: flex;
  align-content: center;
  transition: all 500ms ease-in-out;
  transform: translate(100px);
}
.resto-menu .price-checkbox i {
  transform: rotate(1turn);
  transition: all 500ms ease-in-out;
}
.resto-menu .h3 {
  border-bottom: #99e2d0;
}

/*FONCTIONNEMENT*/
.fonctionning {
  display: flex;
  flex-direction: column;
  margin-bottom: 66px;
}
.fonctionning__title {
  padding-left: 30px;
  padding-top: 55px;
}

.choice {
  display: flex;
  flex-direction: column;
  width: auto;
  justify-content: space-evenly;
  padding: 0 0px;
  gap: 10px;
}

.text {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.list {
  background-color: #f2f2f2;
  padding: 15px 70px 15px 70px;
  border-radius: 25px 25px;
  position: relative;
  box-shadow: 5px 3px 5px #d1d1d1;
  margin: 10px 20px;
}
.list__number {
  background: #9356dc;
  color: #fff;
  position: absolute;
  border-radius: 25px 25px;
  margin-left: -78px;
  padding: 5px 10px;
  top: 20px;
}

.list i {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 60px;
  justify-content: space-between;
  color: #a3a3a3;
}
.list i:hover {
  color: #9356dc;
}

.list p {
  color: #000;
  font-family: "roboto @300";
}

.choice :hover {
  background: #efe4fd;
}

/*a:hover {
    background: black;
  }*/
.heart {
  position: absolute;
  justify-content: center;
  display: flex;
  font-size: 32px;
  bottom: 30px;
  right: 15px;
  padding: 0;
  background: #fff;
  transform: scale(1);
  border: transparent;
  cursor: pointer;
  transform-origin: top;
  color: #fff;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: thin;
  -webkit-text-fill-color: transparent;
  transform: scale(1);
}
.heart:hover {
  font-size: 34px;
  transition: 600ms;
  opacity: 1;
  background: linear-gradient(#ff79da, #9356dc);
  -webkit-background-clip: text;
  padding: 0;
}

.heart--other {
  justify-content: center;
  display: flex;
  font-size: 32px;
  bottom: 30px;
  right: 15px;
  /* background-repeat: no-repeat;*/
  padding-top: 6px;
  background: #f2f2f2;
  transform: scale(1);
  border: transparent;
  cursor: pointer;
  transform-origin: top;
  color: #fff;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: thin;
  -webkit-text-fill-color: transparent;
  transform: scale(1);
}
.heart--other:hover {
  font-size: 34px;
  transition: 600ms;
  opacity: 1;
  /*transform: scaleY(1);*/
  background: linear-gradient(#ff79da, #9356dc);
  -webkit-background-clip: text;
  padding-top: 6px;
}

.header-first {
  display: flex;
  justify-content: center;
  font-family: "Shrikhand";
  padding-bottom: 0;
}

.reservation {
  text-align: center;
  background: #f2f2f2;
  padding-bottom: 40px;
}
.reservation__search {
  width: 100%;
  background-color: #e6e6e6;
  padding: 20px 0;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.089);
  border: transparent;
}
.reservation__search--text {
  border: 0px;
  background-color: transparent;
}

/*RESTAURANT*/
.restaurants {
  background: #f2f2f2;
  padding: 20px 20px;
}
.restaurants__cards {
  position: relative;
}
.restaurants__cards:hover {
  transform: scale(1.03);
}

.restaurants__cards a {
  text-decoration: none;
}

.bloc-cards {
  height: 250px;
  flex: 2;
  margin-bottom: 50px;
  border: 0px solid transparent;
  border-radius: 10px;
  position: relative;
  background-color: #fff;
  line-height: 5px;
  text-decoration: none;
}
.bloc-cards__title {
  color: black;
  padding-top: 5px;
  padding-left: 13px;
  text-decoration: none;
}
.bloc-cards__place {
  color: black;
  padding-left: 13px;
  padding-bottom: 15px;
  text-decoration: none;
}

figure {
  margin: 0;
  padding: 0;
  height: 170px;
}

figure img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0px 0px;
}

.new {
  position: absolute;
  z-index: 10;
  background: #99e2d0;
  padding: 10px 10px 10px 10px;
  border: 0px solid transparent;
  border-radius: 3px;
  color: rgba(0, 128, 0, 0.63);
  font-weight: 900;
  top: 10px;
  right: 20px;
}

@media all and (min-width: 768px) {
  body {
    max-width: 1440px;
    margin: auto;
  }

  .reservation {
    background: #f2f2f2;
  }

  .choice {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .thecards {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  /*RESTAURANTS*/
  .thecards {
    display: grid;
    grid-template-columns: repeat(2, 47%);
    grid-template-rows: repeat(2, 50%);
    column-gap: 30px;
    row-gap: 30px;
    flex-wrap: wrap;
    height: max-content;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .threesection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  /*BOUTON*/
  .heart {
    bottom: 90px;
    right: 15px;
  }

  /*FOOTER*/
  footer {
    width: 100%;
    background: rgba(0, 0, 0, 0.781);
    color: #fff;
    height: 195px;
  }

  .footer__title {
    display: flex;
    justify-content: center;
    padding-top: 29px;
    padding-bottom: 30px;
    font-family: "Shrikhand";
  }

  .footer__list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
@media all and (min-width: 769px) and (max-width: 1367px) {
  body {
    max-width: 1367px;
  }

  .threesection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}

/*# sourceMappingURL=style.css.map */
