/*FONCTIONNEMENT*/
.fonctionning {
  display: flex;
  flex-direction: column;
  margin-bottom: 66px;
  &__title {
    padding-left: 30px;
    padding-top: 55px;
  }
}
.choice {
  display: flex;
  flex-direction: column;
  width: auto;
  justify-content: space-evenly;
  padding: 0 0px;
  gap: 10px;
}
.text {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
.list {
  background-color: $background-grey;
  padding: 15px 70px 15px 70px;
  border-radius: 25px 25px;
  position: relative;
  box-shadow: 5px 3px 5px rgb(209, 209, 209);
  margin: 10px 20px;

  &__number {
    background: $primary;
    color: #fff;
    position: absolute;
    border-radius: 25px 25px;
    margin-left: -78px;
    padding: 5px 10px;
    top: 20px;
  }
}

.list i {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 60px;
  justify-content: space-between;
  color: rgb(163, 163, 163);
  &:hover {
    color: $primary;
  }
}
.list p {
  color: #000;
  font-family: "roboto @300";
}
.choice :hover {
  background: #efe4fd;
}

/*a:hover {
    background: black;
  }*/
