.heart {
  position: absolute;

  color: black;
  font-size: 32px;
  display: flex;
  bottom: 30px;
  right: 15px;
  padding: 0;
  justify-content: center;
  border: none;
  position: absolute;
  overflow: hidden;
  width: auto;
  background: #fff;

  background-position: center 27px;
  transform: scale(1);
  transform-origin: bottom;
  transition: all 300ms ease-in-out;
  z-index: 100;

  &:hover {
    transform: scaleY(1);
    background-repeat: no-repeat;
    opacity: 0.7;
    cursor: pointer;
    background: linear-gradient(5deg, #9356dc, #ff79da);
    overflow: hidden;

    z-index: 2;
  }
}
.fa-heart {
  overflow: hidden;
  z-index: 1;
}
