.heart {
  position: absolute;
  justify-content: center;
  display: flex;
  font-size: 32px;
  bottom: 30px;
  right: 15px;
  padding: 0;
  background: #fff;
  transform: scale(1);
  border: transparent;
  cursor: pointer;
  transform-origin: top;
  color: #fff;
  -webkit-text-stroke-color: rgb(0, 0, 0);
  -webkit-text-stroke-width: thin;
  -webkit-text-fill-color: transparent;
  transform: scale(1);

  &:hover {
    font-size: 34px;
    transition: 600ms;
    opacity: 1;
    background: linear-gradient(#ff79da, #9356dc);
    -webkit-background-clip: text;
    padding: 0;
  }
}
.heart--other {
  justify-content: center;
  display: flex;
  font-size: 32px;
  bottom: 30px;
  right: 15px;
  /* background-repeat: no-repeat;*/

  padding-top: 6px;
  background: #f2f2f2;
  transform: scale(1);
  border: transparent;
  cursor: pointer;
  transform-origin: top;
  color: #fff;
  -webkit-text-stroke-color: rgb(0, 0, 0);
  -webkit-text-stroke-width: thin;
  -webkit-text-fill-color: transparent;
  transform: scale(1);

  &:hover {
    font-size: 34px;
    transition: 600ms;
    opacity: 1;
    /*transform: scaleY(1);*/
    background: linear-gradient(#ff79da, #9356dc);
    -webkit-background-clip: text;
    padding-top: 6px;
  }
}
