/*******************loader chargement*******************/
.loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  font-family: "Shrikhand";
  animation: disseapear forwards;
  animation-delay: 3s;
}
.lettre {
  color: #484848;
  font-size: 40px;
  margin-bottom: 150px;
  animation: flash 2s linear infinite;
  transform: rotate(2deg);
}

@keyframes disseapear {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translate(-9999px);
  }
}
@keyframes flash {
  0% {
    color: #ff79d0;
    text-shadow: 0 0 7px #9356dc;
  }
  90% {
    color: #9356dc;
    text-shadow: none;
  }

  100% {
    color: #99e2d0;
    text-shadow: 0 0 7px #9356dc;
  }
}
.lettre:nth-child(1) {
  animation-delay: 0.1s;
}
.lettre:nth-child(2) {
  animation-delay: 0.2s;
  opacity: 0.8;
}
.lettre:nth-child(3) {
  opacity: 0.8;
  animation-delay: 0.3s;
}
.lettre:nth-child(4) {
  animation-delay: 0.4s;
  opacity: 0.7;
}
.lettre:nth-child(5) {
  animation-delay: 0.5s;
  opacity: 0.7;
}
.lettre:nth-child(6) {
  animation-delay: 0.6s;
  opacity: 0.7;
}
.lettre:nth-child(7) {
  animation-delay: 0.7s;
  opacity: 0.7;
}
.lettre:nth-child(8) {
  animation-delay: 0.8s;
  opacity: 0.8;
}
.lettre:nth-child(9) {
  animation-delay: 0.9s;
  opacity: 0.8;
}
.lettre:nth-child(10) {
  animation-delay: 1s;
  opacity: 1;
}
