body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Roboto";
}
li {
  list-style: none;
}
h1 {
  margin-bottom: 10px;
}
h2 {
  font-weight: bold;
  font-family: "roboto:wgt@700";
}
h3 {
  text-transform: uppercase;
}
