@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Roboto";
}

li {
  list-style: none;
}

h1 {
  margin-bottom: 10px;
}

h2 {
  font-weight: bold;
  font-family: "roboto:wgt@700";
}

h3 {
  text-transform: uppercase;
}

.header-first {
  display: flex;
  justify-content: center;
  font-family: "Shrikhand";
  padding-bottom: 0;
}

.reservation {
  text-align: center;
  background: #f2f2f2;
  padding-bottom: 40px;
}
.reservation__search {
  width: 100%;
  background-color: #e6e6e6;
  padding: 20px 0;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.089);
  border: transparent;
}
.reservation__search--text {
  border: 0px;
  background-color: transparent;
}

.reservation__heading {
  font-weight: 700;
  font-family: "roboto";
}
.reservation__button {
  background: #9356dc;
  background: linear-gradient(17deg, #9356dc 12%, #ff79da 81%);
  color: #fff;
  border-radius: 25px 25px;
  padding: 0 20px;
  border: 0px;
}
.reservation__button--other {
  color: black;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: auto;
}

/*FONCTIONNEMENT*/
.fonctionning {
  display: flex;
  flex-direction: column;
  margin-bottom: 66px;
}
.fonctionning__title {
  padding-left: 30px;
  padding-top: 55px;
}

.choice {
  display: flex;
  flex-direction: column;
  width: auto;
  justify-content: space-evenly;
  padding: 0 0px;
  gap: 10px;
}

.list {
  background-color: #f2f2f2;
  padding: 15px 70px 15px 70px;
  border-radius: 25px 25px;
  position: relative;
  box-shadow: 5px 3px 5px #d1d1d1;
  margin: 10px 20px;
}
.list__number {
  background: #9356dc;
  color: #fff;
  position: absolute;
  border-radius: 25px 25px;
  margin-left: -78px;
  padding: 5px 10px;
  top: 25px;
}

.list i {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.list p {
  flex: 2;
}

/*RESTAURANT*/
.restaurants {
  background: #f2f2f2;
  padding: 20px 20px;
}
.restaurants__cards {
  text-decoration: none;
}

.bloc-cards {
  height: 250px;
  flex: 2;
  margin-bottom: 50px;
  border: 0px solid transparent;
  border-radius: 10px;
  position: relative;
  background-color: #fff;
  line-height: 5px;
}
.bloc-cards__title {
  text-decoration: none;
  color: black;
  padding-top: 5px;
  padding-left: 13px;
}
.bloc-cards__place {
  text-decoration: none;
  color: black;
  padding-left: 13px;
  padding-bottom: 15px;
}

figure {
  margin: 0;
  padding: 0;
  height: 170px;
}

figure img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0px 0px;
}

.new {
  position: absolute;
  z-index: 10;
  background: #99e2d0;
  padding: 10px 10px 10px 10px;
  border: 0px solid transparent;
  border-radius: 3px;
  color: rgba(0, 128, 0, 0.63);
  font-weight: 900;
  margin-top: 20px;
  margin-right: 40px;
}

.heart {
  position: absolute;
  background: #fff;
  color: black;
  font-size: 32px;
  display: flex;
  bottom: 23px;
  right: 15px;
  justify-content: center;
  border: none;
}

/*FOOTER*/
footer {
  background: rgba(0, 0, 0, 0.781);
  color: #fff;
  height: 195px;
}

.footer__title {
  display: flex;
  justify-content: start;
  padding: 20px 0 0px 10px;
  font-family: "Shrikhand";
}

.footer__list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 10px 10px;
  line-height: 1.7;
  margin: 0;
}

/*PALETTE.HTML*/
main {
  margin: 0;
  padding: 0;
}

.header-other {
  font-family: "Shrikhand";
  padding-bottom: 0;
  flex-direction: row;
  align-items: center;
  position: relative;
  width: 100%;
  text-align: center;
}

.fa-arrow-left {
  position: absolute;
  left: 5px;
  top: 15px;
}

/*resto-img/other page*/
.resto-all__img {
  height: 350px;
  width: 100vw;
  max-width: 1440px;
  object-fit: cover;
  /*position: relative;*/
}

/*resto-menu*/
.resto-menu {
  background: #f2f2f2;
  padding: 0 20px;
  margin-bottom: 30px;
}
.resto-menu__title {
  margin: 0 0 0 0;
  font-size: 32px;
  font-family: "Shrikhand";
  display: flex;
  justify-content: space-around;
  max-width: 1440px;
  /*margin-top: -40px;*/
  /*position: absolute;*/
  width: 100vw;
}
.resto-menu__subtitle {
  border-bottom: 2px solid #99e2d0;
  width: 30px;
  padding-bottom: 10px;
}
.resto-menu__cards {
  background: #fff;
  margin-bottom: 20px;
  padding: 0 15px;
  line-height: 0.8;
  border-radius: 15px;
}
.resto-menu__dish {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.h3 {
  border-bottom: #99e2d0;
}

/*MEDIA@*/
@media all and (min-width: 768px) {
  body {
    max-width: 1440px;
    margin: auto;
  }

  .reservation {
    background: #f2f2f2;
  }

  .choice {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .thecards {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  /*RESTAURANTS*/
  .thecards {
    display: grid;
    grid-template-columns: repeat(2, 47%);
    grid-template-rows: repeat(2, 50%);
    column-gap: 30px;
    row-gap: 30px;
    flex-wrap: wrap;
    height: max-content;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .threesection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  /*FOOTER*/
  footer {
    width: 100%;
    background: rgba(0, 0, 0, 0.781);
    color: #fff;
    height: 195px;
  }

  .footer__title {
    display: flex;
    justify-content: center;
    padding-top: 29px;
    padding-bottom: 30px;
    font-family: "Shrikhand";
  }

  .footer__list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

/*# sourceMappingURL=style.css.map */
