$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;
$button: linear-gradient(
  17deg,
  rgba(147, 86, 220, 1) 12%,
  rgba(255, 121, 218, 1) 81%
);
$background-white: #fff;
$background-grey: #f2f2f2;
